* {
  font-family: "Roboto";
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.hero-title {
  font-size: 48px;
  font-weight: 900;
  margin: auto;
}

.logo {
  height: 120px;
}

.header-container,
.hero-container,
.footer {
  background-color: #1f2937;
  color: #f9faf8;
}

.hero-p,
ul {
  font-size: 18px;
  color: #e5e7eb;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

a {
  text-decoration: none;
  color: #f9faf8;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0px 240px;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 240px;
  gap: 48px;
}

.left-hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero-button {
  background-color: #3882f6;
  color: #f9faf8;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  padding: 12px 24px;
  border: none;
}

.hero-img {
  width: 540px;
  height: 270px;
}

.create-account-cta {
  background-color: #3882f6;
  color: #f9faf8;
  border: 2px solid #f9faf8;
  border-radius: 8px;
  padding: 8px 16px;
}

.cta-area {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #3882f6;
  height: 260px;
  border-radius: 10px;
}

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
}

.title-ft {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  margin: 48px;
}

.features-img {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 60px;
}

.img-one,
.img-two,
.img-three,
.img-four {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 350px;
  text-align: center;
}

.feat {
  width: 150px;
  height: 150px;
  border: 6px solid #3882f6;
  border-radius: 10px;
  padding: 18px;
}

.feat-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 150px;
}

.reviews {
  background-color: #e5e7eb;
  padding: 80px 240px;
  font-size: 36px;
  color: #1f2937;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 36px;
}

.quote {
  align-self: center;
  width: 150px;
  height: 150px;
}

.text-client {
  align-self: flex-end;
  font-weight: bold;
}

.create-account {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  padding: 80px 240px;
}

.title-cta {
  align-self: center;
  margin-bottom: 16px;
}

.text-block-cta {
  color: #e5e7eb;
}

.text-cta {
  font-size: 24px;
}

.footer {
  padding: 40px 0;
  text-align: center;
}

.logo-footer {
  height: 48px;
}
